/statics
/env
./statics
./env
.env
/core/.env
./core/.env
.env
media/
media

# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.venv/
env/

# Environment
.env

# Django
*.sqlite3

# IDE
.vscode/
.idea/

# OS
.DS_Store
staticfiles/
