# Desarrollo
DEBUG=True
SECRET_KEY=tu-secret-key-aqui
ALLOWED_HOSTS=localhost,127.0.0.1

# Base de datos
DATABASE_URL=postgresql://usuario:password@localhost:5432/nombre_bd
DOMAIN=http://localhost:8000
SITE_DOMAIN=localhost:8000

# SUNAT PHP Backend
SUNAT_PHP=http://localhost:8080
SUNAT_API_KEY=tu-api-key-de-sunat

# Cloudflare R2 (archivos de compras: xml/pdf/imagen)
R2_ENDPOINT=https://<account_id>.r2.cloudflarestorage.com
R2_KEY=tu-access-key-id
R2_SECRET=tu-secret-access-key
R2_BUCKET=tu-bucket-name
R2_BASE_URL=https://tu-dominio-publico-r2.com
